<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.judge.ProblemMapper">
    <select id="getProblem">
        select 1
    </select>

    <insert id="insertProblem">
        insert into problem values (#{id}, #{problemStatement});
    </insert>

    <delete id="deleteProblem">
        delete from problem where id = #{id};
    </delete>
</mapper>